<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Conoce nuestros productos</h2>
                    <h3 class="section-subheading text-muted">Creamos la Barra de Chocolate al 55% con Quinoa Pop fusionando tesoros alimenticios del Ecuador: el cacao fino de aroma “<b>la Pepa de Oro</b>” y la quinoa “<b>el Grano de Oro</b>”. <br> La quinua, el grano de oro de los incas cultivada en la Cordillera de los Andes, con miles de años de historia, es un superalimento capaz de proporcionar los 8 aminoácidos esenciales, oligoelementos y vitaminas, además aporta gran cantidad de proteínas. 
                    <h3 class="section-subheading text-muted">La quinua, el grano de oro de los incas cultivada en la Cordillera de los Andes, con miles de años de historia, es un superalimento capaz de proporcionar los 8 aminoácidos esenciales, oligoelementos y vitaminas, además aporta gran cantidad de proteínas. 
</h3>
                </div>
            </div>
            <div class="row">
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
